In [1]:
# Import necessary libraries
import os.path
import numpy as np
import pandas as pd

In [4]:
# Load the dataset
raw_data_file_path = '/Users/vishalsaxena/Documents/DS_Workspace/udemy_ml_algo_python/data/raw/'
dataset = pd.read_csv(os.path.join(raw_data_file_path, 'winequality-red.csv'), delimiter=";",)
dataset

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
# Separate features and target
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [6]:
X

array([[ 7.4  ,  0.7  ,  0.   , ...,  3.51 ,  0.56 ,  9.4  ],
       [ 7.8  ,  0.88 ,  0.   , ...,  3.2  ,  0.68 ,  9.8  ],
       [ 7.8  ,  0.76 ,  0.04 , ...,  3.26 ,  0.65 ,  9.8  ],
       ...,
       [ 6.3  ,  0.51 ,  0.13 , ...,  3.42 ,  0.75 , 11.   ],
       [ 5.9  ,  0.645,  0.12 , ...,  3.57 ,  0.71 , 10.2  ],
       [ 6.   ,  0.31 ,  0.47 , ...,  3.39 ,  0.66 , 11.   ]],
      shape=(1599, 11))

In [7]:
y

array([5, 5, 5, ..., 6, 5, 6], shape=(1599,))

In [8]:
# Split the dataset into an 80-20 training-test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
# Create an instance of the StandardScaler class
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [12]:
# Fit the StandardScaler on the features from the training set and transform it
X_train[:,:-1] = sc.fit_transform(X_train[:,:-1])

In [13]:
# Apply the transform to the test set
X_test[:,:-1] = sc.transform(X_test[:,:-1])

In [14]:
# Print the scaled training and test datasets
print(X_train)
print(X_test)

[[ 0.21833164  0.88971201  0.19209222 ...  1.09349989  0.45822284
  11.6       ]
 [-1.29016623 -1.78878251  0.65275338 ... -0.40043872 -0.40119696
  11.9       ]
 [ 1.49475291 -0.78434707  1.01104539 ... -0.07566946  0.51551749
   9.8       ]
 ...
 [-0.65195559  0.49909822 -1.08752211 ...  1.28836145 -0.68767023
   9.5       ]
 [-0.24582155 -1.84458448  0.39683051 ...  0.05423824  0.80199076
  11.9       ]
 [-1.46422367 -1.34236676 -0.06383064 ...  0.50891521 -0.68767023
  13.5       ]]
[[ 7.7    0.56   0.08  ...  3.24   0.66   9.6  ]
 [ 7.8    0.5    0.17  ...  3.39   0.48   9.5  ]
 [10.7    0.67   0.22  ...  3.28   0.98   9.9  ]
 ...
 [ 8.3    0.6    0.25  ...  3.15   0.53   9.8  ]
 [ 8.8    0.27   0.39  ...  3.15   0.69  11.2  ]
 [ 9.1    0.765  0.04  ...  3.29   0.54   9.7  ]]