In [1]:
# Importing the necessary libraries
import os.path
import numpy as np
import pandas as pd

In [2]:
# Load the dataset
raw_data_file_path = '/Users/vishalsaxena/Documents/DS_Workspace/udemy_ml_algo_python/data/raw/'
dataset = pd.read_csv(os.path.join(raw_data_file_path, 'titanic.csv'), delimiter=",",)
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
3,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
4,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
178,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
179,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
180,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
181,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
182,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [3]:
#### Identify the categorical data
dataset.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
X = dataset.iloc[:, :-1].values
X

array([[2, 1, 1, ..., 'PC 17599', 71.2833, 'C85'],
       [4, 1, 1, ..., '113803', 53.1, 'C123'],
       [7, 0, 1, ..., '17463', 51.8625, 'E46'],
       ...,
       [880, 1, 1, ..., '11767', 83.1583, 'C50'],
       [888, 1, 1, ..., '112053', 30.0, 'B42'],
       [890, 1, 1, ..., '111369', 30.0, 'C148']],
      shape=(183, 11), dtype=object)

In [5]:
y = dataset.iloc[:,-1]
y

0      C
1      S
2      S
3      S
4      S
      ..
178    S
179    S
180    C
181    S
182    C
Name: Embarked, Length: 183, dtype: object

In [6]:
# Implement an instance of the ColumnTransformer class
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [3,4,8,10])], remainder='passthrough')

In [7]:
X = ct.fit_transform(X)
X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1719 stored elements and shape (183, 452)>

In [9]:
# Convert the output into a NumPy array
X = np.array(X)
X

array(<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1719 stored elements and shape (183, 452)>, dtype=object)

In [11]:
# Use LabelEncoder to encode binary categorical data
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [12]:
# Print the updated matrix of features and the dependent variable vector
y = le.fit_transform(y)
y

array([0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2,
       2, 2, 0, 2, 2, 2, 0, 0, 2, 2, 0, 0, 2, 0, 0, 0, 2, 2, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 0, 2, 0, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 2, 0, 2,
       2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 0, 2, 1, 2, 2, 2, 2, 2, 2,
       2, 0, 0, 2, 2, 2, 0, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0,
       2, 0, 0, 0, 2, 2, 2, 2, 0, 0, 2, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 0,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       2, 2, 2, 2, 0, 2, 0])